/* Main section in arts113.html*/

#arts113 {
    margin-top: 100px;
    margin-bottom: 80px;
}

#arts113 h1 {
    text-align: center;
    font-size: 36pt;
    /* text-decoration: underline overline; */
    /* text-shadow: 2px 2px #dbb9ff; */
    margin-bottom: 80px;
}

#main {
    width: 65%;
}

#birdhouse {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

#birdhouse img {
    width: 350px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#naturalParadigm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

#naturalParadigm img {
    width: 350px;
    margin-top: 20px;
    margin-bottom: 30px;
}