/* Main section in arts313.html*/

#arts313 {
    margin-top: 100px;
    margin-bottom: 100px;
}

#arts313 h1 {
    text-align: center;
    font-size: 36pt;
    /* text-decoration: underline overline; */
    /* text-shadow: 2px 2px #dbb9ff; */
    margin-bottom: 80px;
}

#arts313 h2 {
    text-align: center;
    margin-top: 40px;
}

#main {
    width: 65%;
}

#toy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 60px;
}

#toy img {
    width: 400px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 60px;
}

#head img {
    width: 400px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#group-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 60px;
}

#group-project iframe {
    margin-top: 20px;
}
