/* Main section in video.html*/

#music {
    margin-top: 100px;
    margin-bottom: 100px;
}

#music h1 {
    text-align: center;
    font-size: 36pt;
    /* text-decoration: underline overline; */
    /* text-shadow: 2px 2px #dbb9ff; */
    margin-bottom: 80px;
}

#music h2 {
    text-align: center;
    margin-top: 40px;
}

#main {
    width: 65%;
}

#youtube {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 80px;
}

#youtube iframe {
    margin-top: 20px;
}

#program {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 120px;
}