/* Body*/
body {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Nunito Sans', sans-serif;
  
  /* font-family: monarcha,serif;
  font-weight: 400;
  font-style: normal; */

  /* font-family: degular-text, sans-serif;
  font-weight: 400;
  font-style: normal; */

  font-size: 14pt;

  line-height: 1.5;
  padding:0;
  margin:0;
  /* background-color: #fafafa; */
  background-color: #ffffff;
}
  
  
/* Global */
.container {
  width: 85%;
  margin: auto;
  overflow: hidden;
}

h1 {
  /* font-family: 'Chonburi', sans-serif; */
  font-family: monarcha,serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-family: monarcha, serif;
  font-weight: 600;
  font-style: normal;
}

ul {
  margin:0;
  padding:0;
}

.button {
  background-color: #dbb9ff; /* Blue */
  border: none;
  color: black;
  box-shadow: 0px 0px 5px grey;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100px;
}


/* Header */
header {
  background: #ffffff;
  color: #dbb9ff;
  padding-top: 0px;
  min-height: 60px;
  box-shadow: 2px 3px 10px grey;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

header #branding {
  float: left;
}

header #branding h1 {
  display: block;
  margin:0;
  padding-top: 5px;
  font-size: 24pt;
}

header a {
  color: #dbb9ff;
  text-decoration: none;
}

header li {
  float: left;
  display: inline;
  padding: 5px 35px 0 20px;
}

header nav {
  float: right;
  margin-top: 9px;
  font-size: 18pt;
}

header a:hover {
color: #9066f9; 
/* font-weight:bold; */
}

header #logo {
top: 55%;
left: 50%;
padding-left: 0;
margin: auto;
position: absolute;
transform: translateX(-50%) translateY(-50%); /* vertical and horizontal centering */
}


header #logo img {
width: 50px;
}

  
/* Showcase */
#showcase {
  margin-top: 2px;
  /* min-height: 500px; */
  height: 100vh;
  width: 100%;
  
  text-align: center;
  color: #ffffff;
  background: url("../img/cityscape.jpg") no-repeat -790px -1500px;
  
  background-attachment: fixed;
  background-position: center;
  z-index: 1;
  position: relative;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
  
#showcase h1 {
  margin-top:150px;
  font-size: 70pt;
  margin-bottom: 30px;
}
  
#showcase p{
  font-size: 14pt;
  color: #ffffff;
}
  
#showcase-content {
  padding-bottom: 150px;
  z-index: 5;
}

/* Work */

#work{
  margin-bottom: 100px;
}

#work #design h1 {
  margin-top: 100px;
}

#work #course h1 {
  margin-top: 60px;
}

#work #hobbies h1 {
  margin-top: 60px;
  margin-bottom: 0;
}

#design-work {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

#course-work {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

#hobbies-work {
  display: flex;
  flex-wrap: wrap;
  color: black;
  text-align: center;
  /* justify-content: space-between; */
}

#hobbies-work a:link { text-decoration: none; color: black; }

#hobbies-work a:visited { text-decoration: none; color: black; }

#hobbies-work a:hover { text-decoration: none; color: black; }

#hobbies-work a:active { text-decoration: none; color: black; }

.design-thumbnail{
  box-shadow: 5px 10px 10px grey;
  margin-bottom: 40px;
  margin-right: 50px;
  border-radius: 10px;
}

.course-thumbnail{
  box-shadow: 5px 10px 10px grey;
  margin-bottom: 40px;
  margin-right: 50px;
  border-radius: 10px;
}

.hobbies-thumbnail{
  height: 350px;
  width: 350px;
  background: linear-gradient(to bottom right, #dbb9ff 0%, #ffffff 100%);
  font-size: 32pt;
  box-shadow: 5px 10px 10px grey;
  margin-bottom: 40px;
  margin-right: 50px;
  border-radius: 10px;
}

.hobbies-thumbnail p {
  padding-top: 125px;
  padding-bottom: 0;
}



/* Footer */
footer {
  padding: 20px;
  color: #ffffff;
  background-color: #c7c7c7;
  text-align: center;
}
  
footer img {
  width: 30px;
  padding: 20px;
  filter: grayscale(100%);
}