/* Main section in work.html */
#work {
  margin-top: 100px;
  margin-bottom:40px;
}


#img-np {
  width: 400px;
}

#img-np2 {
  width: 400px;
}

#img-bird {
  width: 400px;
}

#img-bird2 {
  width: 400px;
}

#gollum1 {
  width: 400px;
}

#gollum2 {
  width: 400px;
}

#gollum3 {
  width: 400px;
}

#wikiGraph {
  width: 400px;
}