/* Main section in work.html */
#main {
  margin-top: 40px;
  margin-bottom:40px;
}


#img-np {
  width: 400px;
}

#img-np2 {
  width: 400px;
}

#img-bird {
  width: 400px;
}

#img-bird2{
  width: 400px;
}