body {
  font-family: 'Scope One', serif;
  line-height: 1.5;
  padding:0;
  margin:0;
  background-color: #f4f4f4;
}


/* Global */
.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin:0;
  padding:0;
}


/* Hamburger menu */
:root {
  --menu-speed:0.75s;
}

.menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  width: 28px;
  height: 28px;
  padding: 1rem;
  background-color: #dbb9ff;
  opacity: 0.75;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger line */
.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Top and bottom lines */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 4;
  top:-10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves line down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turn lines into X */
.menu-wrap .toggler:checked + .hamburger > div::before,
.menu-wrap .toggler:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div >div {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: #512a7a;
  opacity: 0.9;
  border-radius: 50%;
  width: 300vw;
  height: 300vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 1rem;
  z-index: 5;
  font-weight: bolder;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}


/* Header */
header {
  background: #ffffff;
  color: #dbb9ff;
  padding-top: 0px;
  min-height: 60px;
  box-shadow: 2px 2px 2px grey;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

header a {
  color: #dbb9ff;
  text-decoration: none;
}

header li {
  float: left;
  display: inline;
  padding: 5px 20px 0 20px;
}

header nav {
  float: right;
  margin-top: 12px;
  font-size: 14pt;
}

header a:hover {
  color: #9066f9;
  font-weight:bold;
}


header #logo {
  top: 55%;
  left: 50%;
  padding-left: 0;
  margin: auto;
  position: absolute;
  transform: translateX(-50%) translateY(-50%); /* vertical and horizontal centering */
}


header #logo img {
  width: 50px;
}


/* Showcase */
#showcase {
  margin-top: 2px;
  /* min-height: 500px; */
  height: 100vh;
  width: 100%;

  text-align: center;
  color: #ffffff;
  background:url("img/cityscape.jpg") no-repeat -790px -1500px;

  background-attachment: fixed;
  background-position: center;
  z-index: 1;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#showcase h1 {
  margin-top:150px;
  font-size: 70pt;
  margin-bottom: 10px;
}

#showcase p{
  font-size: 14pt;
  color: #ffffff;
}

#showcaseContent {
  padding-bottom: 150px;
  z-index: 5;
}

/* Color overlay did not work because text in #showcase could not be given a higher z-index
#showcaseOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 30%;
  z-index: 1;
} */

/* Boxes
#boxes {
  margin-top: 20px;
}

#boxes .box {
  float: left;
  text-align: center;
  width: 30%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 40px;
  background-color: #dbb9ff;
}
*/


/* Bio */
#bio {
  margin-top: 40px;
  margin-bottom: 80px;
}

#bioText {
  margin-top: 40px;
}


footer {
  padding: 20px;
  color: #ffffff;
  background-color: #cccccc;
  text-align: center;
}


/* Media Queries */
@media(min-width: 0) {
  header #branding h1 {
    display: none;
  }

  header #logo {
    left: 0;
    padding-left: 80px;
  }

  header nav {
    display: none;
  }

  #bio #about {
    width: 75%;
    margin: auto;
  }

  #bio #about img {
    width: 100%;
    float: none;
    display: block;
    margin: 0 auto;
    padding-right: 0;
  }
}


@media(min-width: 575px) {
  header #branding h1 {
    display: none;
  }

  header #logo {
    left: 0;
    padding-left: 80px;
  }

  header nav {
    display: none;
  }

  #bio #about {
    width: 75%;
    margin: auto;
  }

  #bio #about img {
    width: 100%;
    float: none;
    display: block;
    margin: 0 auto;
    padding-right: 0;
  }
}


@media(min-width: 768px) {
  header #branding h1 {
    display: none;
  }

  header #logo {
    left: 0;
    padding-left: 80px;
  }

  header nav {
    display: none;
  }

  #bio #about {
    width: 100%;
  }

  #bio #about img {
    float: left;
    width: 30%;
    min-width: 300px;
    padding-right: 40px;
  }
}


@media (min-width: 991px) {
  .menu-wrap {
    display: none;
  }

  header #branding {
    float: left;
  }

  header #branding h1 {
    display: block;
    margin: 0;
    padding-top: 8px;
    font-size: 24pt;
  }

  header #logo {
    left: 50%;
    padding-left: 0;
  }

  header nav {
    display: block;
  }

  #bio img {
    float: left;
    width: 30%;
    padding-right: 40px;
  }
}


@media(min-width: 1200px) {
  .menu-wrap {
    display: none;
  }

  header #branding {
    float: left;
  }

  header #branding h1 {
    display: block;
    margin:0;
    padding-top: 8px;
    font-size: 24pt;
  }

  header #logo {
    left: 50%;
    padding-left: 0;
  }

  header nav {
    display: block;
  }

  #bio img {
    float: left;
    width: 30%;
    padding-right: 40px;
  }
}
