body {
  font-family: 'Scope One', serif;
  line-height: 1.5;
  padding:0;
  margin:0;
  background-color: #f4f4f4;
}

/* Global */
.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin:0;
  padding:0;
}


/* Header */
header {
  background: #ffffff;
  color: #dbb9ff;
  padding-top: 0px;
  min-height: 60px;
  box-shadow: 2px 2px 2px grey;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

header a {
  color: #dbb9ff;
  text-decoration: none;
}

header li {
  float: left;
  display: inline;
  padding: 5px 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin:0;
  padding-top: 8px;
  font-size: 24pt;
}

header nav {
  float: right;
  margin-top: 12px;
  font-size: 14pt;
}

header a:hover {
  color: #9066f9;
  font-weight:bold;
}

header #logo {
  top: 55%;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); /* vertical and horizontal centering */
}

header #logo img {
  width: 50px;
}

/* Showcase */
#showcase {
  margin-top: 2px;
  /* min-height: 500px; */
  height: 100vh;
  width: 100%;

  text-align: center;
  color: #ffffff;
  background:url("img/cityscape.jpg") no-repeat -790px -1500px;

  background-attachment: fixed;
  background-position: center;
  z-index: 1;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#showcase h1 {
  margin-top:150px;
  font-size: 70pt;
  margin-bottom: 10px;
}

#showcase p{
  font-size: 14pt;
  color: #ffffff;
}

#showcaseContent {
  padding-bottom: 150px;
  z-index: 5;
}

/* Color overlay did not work because text in #showcase could not be given a higher z-index
#showcaseOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 30%;
  z-index: 1;
} */

/* boxes */
#boxes {
  margin-top: 20px;
}

#boxes .box {
  float: left;
  text-align: center;
  width: 30%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 40px;
  background-color: #dbb9ff;
}


/* Bio */
#bio img {
  float: left;
  width: 30%;
  margin-left: 80px;
  margin-top: 40px;
}

#bioText {
  float: left;
  margin-left: 40px;
  margin-top: 40px;
}

footer {
  padding: 20px;
  margin-top: 1000px;
  color: #ffffff;
  background-color: #cccccc;
  text-align: center;
}



/* Media Queries */
@media(max-width: 575px) {
  header #branding h1 {
    font-size: 20pt;
    padding-top: 10px;
    display: none;
  }

  header #logo {
    left: 0;
    padding-left: 80px;
  }

  header nav {
    display: none;
  }
}


@media(max-width: 768px) {
  header #branding h1 {
    font-size: 20pt;
    padding-top: 10px;
    display: none;
  }

  header #logo {
    left: 0;
    padding-left: 80px;
  }

}


@media (max-width: 991px) {
  header #branding h1 {
    font-size: 20pt;
    padding-top: 10px;
    display: none;
  }

  header #logo {
    left: 0;
    padding-left: 80px;
  }
}


@media(max-width: 1200px) {

}
